.orders {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .orders-list {
    list-style: none;
    padding: 0;
  }
  
  .order-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .back-button {
    padding: 0.5rem 1rem;
    background-color: #623C6B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
  }
  